################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

.vs/
/Output/*
!/Output/WebUI
!/Output/WebUI/**
!/Output/www
!/Output/www/**
bin/
obj/
/packages
*.csproj.user
/*.bat
