/* css */
.header {
  display: flex;
  gap: 1em;
  width: 96%;
  margin: 0 3% 15px 1%;
  outline: thin inset gray;
  padding: 7px;
}

.card {
  display: inline-block;
  background-color: papayawhip;
  padding: 5px 1em 15px 1em;
  border-radius: 15px;
  min-width: 180px;
}

  .card > p {
    font-size: 20px;
    margin: 0px 0px 5px 0px;
    text-align: center;
  }

  .card > div {
    display: grid;
    background-color: white;
  }

x13-graph {
  display: block;
  width: 96%;
  margin: 1em 3% 1em 1%;
  outline: thin inset gray;
}

.dygraph-legend {
  position: absolute;
  font-size: 14px;
  z-index: 10;
  width: 400px; /* labelsDivWidth */
  /*
  dygraphs determines these based on the presence of chart labels.
  It might make more sense to create a wrapper div around the chart proper.
  top: 0px;
  right: 2px;
  */
  background: white;
  line-height: normal;
  text-align: left;
  overflow: hidden;
}

/* styles for a solid line in the legend */
.dygraph-legend-line {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  text-align: left;
  padding-left: 1em;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /* border-bottom-color is set based on the series color */
}

/* styles for a dashed line in the legend, e.g. when strokePattern is set */
.dygraph-legend-dash {
  display: inline-block;
  position: relative;
  bottom: .5ex;
  height: 1px;
  border-bottom-width: 2px;
  border-bottom-style: solid;
  /* border-bottom-color is set based on the series color */
  /* margin-right is set based on the stroke pattern */
  /* padding-left is set based on the stroke pattern */
}

.dygraph-axis-label {
  /* position: absolute; */
  /* font-size: 14px; */
  z-index: 10;
  line-height: normal;
  overflow: hidden;
  color: black; /* replaces old axisLabelColor option */
}

.dygraph-title {
  font-weight: bold;
  z-index: 10;
  text-align: center;
  /* font-size: based on titleHeight option */
}

.dygraph-xlabel {
  text-align: center;
  /* font-size: based on xLabelHeight option */
}

/* For y-axis label */
.dygraph-label-rotate-left {
  text-align: center;
  /* See http://caniuse.com/#feat=transforms2d */
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}

/* For y2-axis label */
.dygraph-label-rotate-right {
  text-align: center;
  /* See http://caniuse.com/#feat=transforms2d */
  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
}

x13-signal {
  display: block;
  height: 24px;
  padding: 3px 0.5em 3px 1em;
  outline: thin groove lightgray;
}

  x13-signal > label {
    display: block;
    float: left;
    margin: 3px 15px 3px 0px;
  }

  x13-signal > span {
    display: block;
    float: right;
    border-radius: 12px;
    width: 24px;
    height: 24px;
  }

x13-text {
  display: block;
  outline: thin groove lightgray;
  padding: 6px 1.5em;
  text-align: center;
}

x13-wheather {
  height: 40vh;
  display: block;
}
  x13-wheather > div {
    width: 98%;
    display:block;
  }
    x13-wheather > div.wh_top {
    gap: 0;
    margin: 0 0 5px 0;
    height: 20px;
    display: flex;
    width: 98%;
  }
  x13-wheather div.wh_top>div {
    width: 10%;
    text-align:center;
  }
  x13-wheather div.wh_top > :first-child, x13-wheather div.wh_top > :last-child {
    width: 45%;
  }
